<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Teste_crawler</title>
</head>
<body>
    <div>
        <h1 id='titulo'>Bem-vindo à página 1° de teste crawler!</h1>
        <p>Esta é uma página de teste do web crawler em python.</p>
        <h2>Pagina criada para o p</h2>
    </div>
    <div>
        <p><i>Diego Ferreira</i> - </p>
        <h2>sLinks crawler de teste 1 </h2>
        <p id="link" >Segue um linK para lugar nenhum: <a href="#">click</a></p>
        <h1>Primeiro teste</h1>
        <p>Python, Backend, função ReLU, p YthOn,</p>
    </div>    
    <div>
        <p>Backend C++ C/c++ pYtHoN p função ReLU async</p>
        <p class="Backend" >Backend, C++ C/c++ pYtHoN função ReLU async</p>
        <h6>click</h6>
    </div>
</body>
</html>